.toggle-button {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  background-color: #dddddd;
  cursor: pointer;
  transition: background-color 0.4s;
}

.toggle-button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  background-color: #fff;
  content: "";
  transition: left 0.4s;
}

.toggle-button:has(:checked) {
  background-color: #4bd865;
}

.toggle-button:has(:checked)::after {
  left: 50px;
}

.toggle-button input {
  display: none;
}
